{% extends 'oblicz/base.html' %}

{% block body %}

    <div class="jumbotron d-flex justify-content-center">
        <form method="post" class="form" action="przyblizona/">

            {% csrf_token %}
            
            <label>Your bank: </label>
            <select name="bank1">
                {% for bank in banki %}
                    <option value="{{bank.nazwa_banku}}">{{bank.nazwa_banku}}</option>
                {% endfor %}
            </select>

            <br>

            <label>Destination: </label>
            <select name="bank2">
                {% for bank in banki %}
                <option value="{{bank.nazwa_banku}}">{{bank.nazwa_banku}}</option>
                {% endfor %}
            </select>

            <br>

            <label>Date and time: </label>
            <input type="datetime-local" name="data">

            <br>

            <button type="submit" name="sprawdz" class="btn btn-success">Check</button>
            


        </form>
    </div>

{% endblock %}